* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


@media screen and (max-width: 550px) {
    /* HEADER */
    #nav {
        display: none;
    }
    #nav-links {
        display: none;
    }
    #nav-title {
        font-size: 1.7em;
    }
}









@media screen and (min-width: 551px) and (max-width: 1200px) {
    /* HEADER */
    #nav {
        display: none;
    }
    #nav-links {
        display: none;
    }
    #nav-title {
        font-size: 2.5em;
    }
}








@media screen and (min-width: 1201px) {
    body {
        background-image: url(../images/Inicio/portada.jpg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    /* HEADER */
    header {
        padding: 2vh 3vw;
    }
    #nav {
        display: none;
    }
    #nav-links {
        display: none;
    }
    #nav-title {
        font-size: 2.5em;
    }
    /* PORTADA */
    #portada {
        padding-left: 7vh;
    }
    h2 {
        font-size: 5em;
        letter-spacing: 3px;
    }
    #viaja {
        top: 50vh;
    }
    #klm {
        top: 62.5vh;
    }
    /* VUELOS y HOTELES*/
    #vuelos {
        height: 175vh;
    }
    #hoteles {
        height: 125vh;
    }
    #vuelos-title {
        padding-right: 12vh;
        text-align: right;
    }
    #hoteles-title {
        padding-left: 13.5vh;
    }
    #vuelos .cat {
        height: 30%;
    }
    #hoteles .cat {
        height: 50%;
    }
    .cat {
        display: flex;
        justify-content: space-evenly;
    }
    .subcat {
        width: 50vh;
    }
    .cat-title {
        font-size: 2em;
    }
    .cat-title::after {
        content: "";
        width: 0;
        height: 2px;
        background: white;
        margin: auto;
        display: block;
    }
    .cat-title:hover::after {
        width: 100%;
        transition: width 0.5s linear;
    }
    /* BUSCADOR */
    #buscador {
        height: 75vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0vh 15vh;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 40%;
        width: 40%;
    }
    .inputs {
        width: 100%;
        padding: 1.5vh;
        font-size: 1.1em;
    }
    .sugeridos li {
        padding: 1.5vh;
        font-size: 1.1em;
    }
    /* DESTINO */
    #destino {
        height: auto;
    }
    .destinoImg {
        width: 45%;
        height: 90%;
        margin: 0vh 5vh;
    }
    .datos {
        width: 100%;
        margin: 0vh 5vh 15vh;
    }
    h3 {
        font-size: 7em;
        padding-bottom: 5vh;
    }
    p {
        font-size: 1.3em;
        letter-spacing: 1px;
    }
    /* DESTINO LUGAR */
    #destinoLugar {
        margin-top: -20vh;
        padding: 20vh 0vh 15vh;
        height: 105vh;
    }
    /* DESTINO HOTEL */
    #destinoHotel {
        padding-top: 20vh;
        height: 100vh;
    }
    #caracteristicas i {
        padding: 3vh;
        font-size: 1.5em;
    }
    .datos a {
        margin-top: 5vh;
    }
    /* CALCULO PRECIOS */
    #calculoPrecios {
        padding-top: 10vh;
        height: 100vh;
    }
    #estrellas {
        width: 150px;
        padding-bottom: 5vh;
    }
    #calculo {
        margin: 10vh 85vh;
        height: 30vh;
    }
    #calculo button {
        padding: 1vh 0vh;
        font-size: 2em;
    }
    #calculo span {
        font-size: 1.5em;
    }
    #valor {
        padding: 1vh 0vh;
    }







    /* FOOTER */
    footer {
        padding: 2vh 3vw;
    }
    h6 {
        font-size: .8em;
        letter-spacing: 4px;
    }
}