* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


@media screen and (max-width: 550px) {
    /* HEADER */
    #nav {
        display: none;
    }
    #nav-links {
        display: none;
    }
    #nav-title {
        font-size: 1.7em;
    }
}









@media screen and (min-width: 551px) and (max-width: 1200px) {
    /* HEADER */
    #nav {
        display: none;
    }
    #nav-links {
        display: none;
    }
    #nav-title {
        font-size: 2.5em;
    }
}








@media screen and (min-width: 1201px) {
    body {
        background-image: url(../images/Inicio/portada.jpg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    /* HEADER */
    header {
        padding: 2vh 3vw;
    }
    #nav {
        display: none;
    }
    #nav-links {
        display: none;
    }
    #nav-title {
        font-size: 2.5em;
    }
    /* PORTADA */
    #portada {
        padding-left: 7vh;
    }
    h2 {
        font-size: 5em;
        letter-spacing: 3px;
    }
    #viaja {
        top: 50vh;
    }
    #klm {
        top: 62.5vh;
    }
    /* VUELOS y HOTELES*/
    #vuelos {
        height: 175vh;
    }
    #hoteles {
        height: 125vh;
    }
    #vuelos-title {
        padding-right: 12vh;
        text-align: right;
    }
    #hoteles-title {
        padding-left: 13.5vh;
    }
    #vuelos .cat {
        height: 30%;
    }
    #hoteles .cat {
        height: 50%;
    }
    .cat {
        display: flex;
        justify-content: space-evenly;
    }
    .subcat {
        width: 50vh;
    }
    .cat-title {
        font-size: 2em;
    }
    .cat-title::after {
        content: "";
        width: 0;
        height: 2px;
        background: white;
        margin: auto;
        display: block;
    }
    .cat-title:hover::after {
        width: 100%;
        transition: width 0.5s linear;
    }
    /* BUSCADOR */
    #buscador {
        height: 75vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0vh 15vh;
    }
    form {
        width: 40%;
    }
    input {
        width: 100%;
        margin: 3vh 0vw;
        padding: 1.5vh;
        font-size: 1.1em;
    }
    /* DESTINO */
    .destinoImg {
        width: 45%;
        height: 90%;
    }
    .datos {
        width: 50%;
        padding: 0vh 12.5vh 20vh;
    }
    p {
        font-size: 1.3em;
        letter-spacing: 1px;
    }
    /* DESTINO LUGAR */
    #destinoLugar {
        height: 70vh;
    }
    /* DESTINO HTEL */
    #destinoHotel {
        padding-top: 20vh;
        height: 90vh;
    }





    #pack {
        height: 50vh;
    }
    /* FOOTER */
    footer {
        padding: 2vh 3vw;
    }
}