body {
    font-family: 'Noto Sans', sans-serif;
    animation: opacity 2.5s ;
    color: white;
}

@keyframes opacity {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}



/* HEADER */

header {
    padding: 3vh 5vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #360707;
}

header a {
    text-decoration: none;
}

#nav-title {
    color: #2a0909;
    letter-spacing: 5px;
}



/* MAIN */

section {
    height: 100vh;
}

header a {
    color: #360707;
}



/* PORTADA */

#portada {
    position: relative;
}

#viaja {
    position: absolute;
}

#klm {
    position: absolute;
}



/* VUELOS y HOTELES*/

#vuelos {
    background-color: #171218;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#hoteles {
    background-color: #360707;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.subcat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    background-size: cover;
    filter: grayscale(80%);
}

.subcat:hover {
    filter: grayscale(0%);
    transition: 2s;
}

a {
    color: white;
    text-decoration: none;
}

#v1 {
    background-image: url(../images/Inicio/ciudades/ny.jpg);
}

#v2 {
    background-image: url(../images/Inicio/ciudades/madrid.jpg);
}

#v3 {
    background-image: url(../images/Inicio/ciudades/miami.jpg);
}

#v4 {
    background-image: url(../images/Inicio/ciudades/londres.jpg);
}

#v5 {
    background-image: url(../images/Inicio/ciudades/aruba.jpg);
}

#v6 {
    background-image: url(../images/Inicio/ciudades/tokio.jpg);
}

#h1 {
    background-image: url(../images/Inicio/ciudades/Hilton.jpg);
}

#h2 {
    background-image: url(../images/Inicio/ciudades/Marriot.jpg);
}

#h3 {
    background-image: url(../images/Inicio/ciudades/Huanzhu.jpg);
}



/* BUSCADOR */

#buscador {
    background-color: #171218;
}

input {
    background-color: #360707;
    color: white;
    border: 1px solid white;
}

input::placeholder {
    color: white;
}

input:focus {
    background-color: #171218;
    color: white;
    transition: 1s;
}

input:focus::placeholder {
    color: white;
    transition: 1s;
}

.boton {
    background-color: #360707;
    border: 1px solid white;
}

.boton:hover {
    cursor: pointer;
    background-color: white;
    color: #360707;
    transition: 1s;
}

.contenedorSugeridos {
    position: relative;
}

.sugeridos {
    position: absolute;
    top: 100%; 
    width: 100%;
    background-color: #171218;
    border: 1px solid white;
    list-style: none;
    display: none;
}



/* DESTINO */

.datos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

h3 {
    text-align: center;
}

p {
    text-align: justify;
}

.destinoImg {
    border: 5px solid white;
}

/* DESTINO LUGAR*/

#destinoLugar {
    display: flex;
    justify-content: space-between;
    background-color: #171218;
}

/* DESTINO HOTEL*/

#destinoHotel {
    display: flex;
    justify-content: space-between;
    background-color: #360707;
}

button {
    color: white;
}



/* CALCULO PRECIOS */

#calculoPrecios {
    background-color: #360707;
    text-align: center;
}

#estrellas {
    opacity: 80%;
}

#comodidades {
    text-align: left;
}

.caracteristicas {
    display: flex;
    align-items: center;
}

.caracteristicas i {
    font-size: 1.5em;
}








/* FOOTER */

footer {
    padding: 3vh 5vw;
}

footer a {
    color: #360707;
    text-decoration: none;
}

h6 {
    text-align: end;
}