body {
    font-family: 'Noto Sans', sans-serif;
    animation: opacity 2.5s ;
}

@keyframes opacity {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}



/* HEADER */

header {
    padding: 3vh 5vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #360707;
}

header a {
    text-decoration: none;
}

#nav-title {
    color: #2a0909;
    letter-spacing: 5px;
}



/* MAIN */

section {
    height: 100vh;
}

header a {
    color: #360707;
}



/* PORTADA */

#portada {
    position: relative;
}

h2 {
    color: white;
    font-weight: bold;
}

#viaja {
    position: absolute;
}

#klm {
    position: absolute;
}



/* VUELOS y HOTELES*/

#vuelos {
    background-color: #171218;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#hoteles {
    background-color: #360707;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.subcat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    background-size: cover;
    filter: grayscale(80%);
}

.subcat:hover {
    filter: grayscale(0%);
    transition: 2s;
}

a {
    color: white;
    text-decoration: none;
}

#ny {
    background-image: url(../images/Inicio/ciudades/ny.jpg);
}

#miami {
    background-image: url(../images/Inicio/ciudades/miami.jpg);
}

#madrid {
    background-image: url(../images/Inicio/ciudades/madrid.jpg);
}

#londres {
    background-image: url(../images/Inicio/ciudades/londres.jpg);
}

#tokio {
    background-image: url(../images/Inicio/ciudades/tokio.jpg);
}

#aruba {
    background-image: url(../images/Inicio/ciudades/aruba.jpg);
}

#hotelny {
    background-image: url(../images/Inicio/ciudades/Hilton.jpg);
}

#hotelmiami {
    background-image: url(../images/Inicio/ciudades/Marriot.jpg);
}

#hoteltokio {
    background-image: url(../images/Inicio/ciudades/Huanzhu.jpg);
}



/* BUSCADOR */

#buscador {
    background-color: #171218;
}

input {
    background-color: #360707;
    color: white;
    border: 1px solid white;
}

input::placeholder {
    color: white;
}

input:focus {
    background-color: #171218;
    color: white;
    transition: 1s;
}

input:focus::placeholder {
    color: white;
    transition: 1s;
}

#boton {
    background-color: #360707;
    color: white;
    border: 1px solid white;
}

#boton:hover {
    background-color: white;
    color: #360707;
    transition: 1s;
}



/* DESTINO */

.datos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

p {
    text-align: justify;
}

/* DESTINO LUGAR*/

#destinoLugar {
    display: flex;
    justify-content: space-between;
    background-color: #171218;
    color: white;
}

/* DESTINO HOTEL*/

#destinoHotel {
    display: flex;
    justify-content: space-between;
    background-color: #360707;
    color: white;
}








#pack {
    background-color: #360707;
}

/* FOOTER */

footer {
    padding: 3vh 5vw;
}

footer a {
    text-decoration: none;
}

h3 {
    text-align: end;
    text-decoration: none;
    color: #360707;
}